.blue_line{
    background-color: #1d70b8;
    padding: 5px 100%;
}

.cv{
    background-color: black;
}

.cv_sign{
    margin: 0 15%;
    padding: 1.6rem 0;
}

.cv_sign i {
    color: white;
    margin-right: 5px;
}

.cv_sign a{
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: 1px underline; 
}

.cv_sign span{
    color: white;
    margin: 0 5px;
}

.cv_sign a:hover {
    text-decoration: 3px underline;
}

.blue_div{
    background-color: #1d70b8;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h1{
    padding: 2rem 20%;
    border: 1px solid white;
}

.links{
    background-color: black;
    padding: 10rem 8rem;
    margin: 3px 4rem 0 0;

}

.column_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.column_divs{
    height: 35rem;
    width: 20rem;
    border: 1px solid black;
    margin: 1rem 1rem 3rem 1rem;
}

.imgs_father{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imgs_div{
    height: 45rem;
    width: 65rem;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 3.5rem 0;
    display: grid;
    column-gap: 2.5rem;
    row-gap: 5rem;
    grid-template-columns: repeat(3, auto-fill);
    grid-template-rows: repeat(2, auto-fill);
    grid-template-areas: 
        "bigtitle subtitle subtitle"
        "img_one img_two img_thr";
}

.bigtitle{
    border:1px solid #1d70b8;
    grid-area: bigtitle;
}

.subtitle{
    border: 1px solid black;
    grid-area: subtitle;
}

.img_one{
    background-color: #1d70b8;
    grid-area: img_one;
}

.img_two{
    background-color: rgb(182, 182, 182);
    grid-area: img_two;
}

.img_thr{
    background-color: goldenrod;
    grid-area: img_thr;
}

.last_divs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.last_divs_box{
    padding: 13rem 8rem;
    margin: 0 2.3rem;
    border: 1px solid black;
    font-size: 1rem;
}

.blue_box_father{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.blue_box{
    padding: 3rem 31rem;
    background-color: #1d70b8;
    border: 0.3px solid white;
}

footer{
    background-color: #f3f2f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
}

footer div{
    padding: 10rem 5rem;
}


@media screen and (max-width:869px) {
    .cv_sign{
        margin: 0 1rem;
    }
}

@media screen and (max-width:539px) {
    .links{
        background-color: #1d70b8;
        border: 1px solid white;
    }
}

@media screen and(max-width:1048px) {
    .imgs_div{
        width: 40rem;
    }
}