.blue_line{
    background-color: #1d70b8;
    padding: 5px 100%;
}

.cv{
    background-color: black;
}

.cv_sign{
    margin: 0 15%;
    padding: 1.6rem 0;
}

.cv_sign i {
    color: white;
    margin-right: 5px;
}

.cv_sign a{
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: 1px underline; 
}

.cv_sign span{
    color: white;
    margin: 0 5px;
}

.cv_sign a:hover {
    text-decoration: 3px underline;
}

.blue_div{
    background-color: #1d70b8;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h1{
    padding: 2rem 20%;
    border: 1px solid white;
}

.links{
    background-color: black;
    padding: 10rem 8rem;
    margin: 3px 4rem 0 0;

}

@media screen and (max-width:869px) {
    .cv_sign{
        margin: 0 1rem;
    }
}